@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
*{
    padding:10px;
    margin: 10px;
}
body{

font-family: Georgia, 'Times New Roman', Times, serif;
color:black;
}

header{
    border: 2px solid #7a7a7c;
    padding : 2px;
    height: 80px;
    background: #000;
    border-radius: 10px;
    
}
header img{
    position: relative;
    top: -30px;
    left: 15%;
    width: 150px;
    height: 50px;
}

nav ul li {
    position: relative;
    left: 30%;
    top: -100px;
    display: inline;
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;

}
nav ul li a {
    color:#27E82B;
    text-decoration: none;
}
nav ul li a:hover {
    color:#E8719C;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border: 2px dotted #E82723;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}





ul{
    font-family: 'Catamaran', sans-serif;
    padding-left: 50px;
    list-style-type: square;

}
ul li {
 
    padding: 5px;
}

img{
    width: 425px;
    height: 250px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color:cornflowerblue;
}

section .containers nav ul {
    
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}
section h2:hover{
    color: red;
    background-color:rgb(112, 112, 112);
}
section ul li{
    color:crimson;
    font-family: Verdana;
}
section ul li:hover{
    background:cyan;
}

.text-img{
    display: flex;
    align-items: center;
    flex-direction: row;
    animation: fadeIn ease 5s;
}
.text-img img{
    width: 650px;
    height: 450px;

}
.text-img ul li {
   list-style-type: "\2605";
   color:burlywood;

}
.text-img ul li:hover {
    list-style-type:"\2605";
    background:burlywood;
    color:black;
 
 }

 h1{
    text-align:center;
    text-transform:uppercase;
}
.container-image{
    animation: fadeIn ease 10s;
    background:lightgoldenrodyellow;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  .location, td, th {
    border: 1px solid black;
    font-size: 20px;

  }
  .location td:hover,th:hover {
    font-weight: bold;
    background-size: cover;
    background-image:url("../img/images.jpg") ;
  }
  
  .location {
    width: 100%;
    border-collapse: collapse;
  }

  .form-contr{
    position: relative;
   
    width: 50%;
    align-items: center;
    justify-items: center;
    left: 25%;
   
}



section input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  section input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  section input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
section input[type=submit] {
    width: 100%;
    background-color: #a0710c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  section  input[type=submit]:hover {
    background-color: #a0710c63;
  }
  section textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  footer{
      padding:0;
      margin: 0;

      background:burlywood;
  }

  .links{
      width:325px;
      display:flex;
  }
  .links ul li{
    list-style-type: "\2605";
    color:burlywood;
    text-decoration: none;
    padding:1px;
    margin: 1px;
  }

  .links ul li a {
    color : black;
    text-decoration: none;
  }
  .contact-info ul li{
    list-style-type: "\2605";
    color:burlywood;
    text-decoration: none;
    padding:1px;
    margin: 1px;
  }

  .contact-info ul li a {
    color : black;
    text-decoration: none;
  }

  .footer-container{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .footer-container .map{
      float: right;
      padding-left:200px;
  }

  .sales-table td, th {
    border: 1px solid black;
    font-size: 20px;

  }
  .sales-table table{
    width: 100%;
    border-collapse: collapse;
  }
  .sales-table td:hover,th:hover {
    font-weight: bold;
  
  }